@import "tailwindcss";

@theme {
  --color-purple: #320260;
  --color-olive: #3d4b3d;
  --color-tan: #c9b991;
  --color-cream: #f5efe6;
  --color-white: white;
  --font-sans:
    var(--font-hind-mysuru), ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  --font-playfair: var(--font-playfair), serif;
}

:root {
  --background: white;
  --foreground: #1a202c;

  /* Fonts */
  --font-serif: var(--font-julius-sans-one), sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c;
    --foreground: #f2ebe1;
  } */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Ensure no gaps on sections */
section {
  margin: 0;
  padding: 0;
}
